body {
  height: max;
}
#container {
  display: grid;
  grid-template-areas:
  "nav nav"
  "welcome welcome"
  "project_1 project_3"
  "project_2 project_4"
  "profile_inf profile_inf"
}
#navbar {
  background-color: blue;
  color: black;
  font-family: serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  grid-column: span 2;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  height: 96px;
  grid-area: nav;
}
#welcome-section {
  background-color: grey;
  color: black;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  grid-column: span 2;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  height: 214px;
  grid-area: welcome;
}
#project_1 {
  background-color: grey;
  color: black;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 317px;
  width:600px;
  margin: 0px 0px 10px 0px;
  grid-area: project_1;
}
#project_2 {
  background-color: grey;
  color: black;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 324px;
  width: 600px;
  margin: 0px 0px 10px 0px;
  grid-area: project_2;
}
#project_3 {
  background-color: grey;
  color: black;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 317px;
  width:600px;
  margin: 0px 0px 10px 0px;
  grid-area: project_3;
}
#project_4 {
  background-color: grey;
  color: black;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 324px;
  width:600px;
  margin: 0px 0px 10px 0px;
  grid-area: project_4;
}

#profile_inf {
  background-color: blue;
  color: black;
  font-family: serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 10px 0px;
  height: 96px;
  grid-area: profile_inf;
}
